h1{
    font-style:italic;
    font-stretch: narrower;
}

a{
    font-size:medium;
}
body{
    background-color: steelblue;
}
li{
    text-decoration: underline;
}
.imagescentered{

    margin-left: 200px;
    margin-right: 200px;
}
.textcentered{
    align-self: center;
    position: fixed;
    width: 500px;
}

div{
    text-shadow:  1.1px;
    width:auto;
    margin: auto;
}

.content{
    justify-items:center;
}
.video1{
    width: auto;
    margin: 50px;
    justify-content: center;
}