*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-style:italic;
    font-stretch: narrower;
}

a{
    font-size:medium;
}
body{
    background-color: steelblue;
}
li{
    text-decoration: underline;
}
.imagescentered{

    margin-left: 200px;
    margin-right: 200px;
}
.textcentered{
    align-self: center;
    width: 550px;
    flex-wrap: wrap;
}

div{
    text-shadow:  1.1px;
    width:auto;
    margin: auto;
}

.content{
    margin-left: 200px;
    margin-right: 200px;
}
.video1{
    width: auto;
    margin-top: 15px;
    margin-left: 270px;
    margin-right: 200px;
    align-items: center;
}
.jumpto{
    width: 8%;
}